* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #000;
}
.row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}
.row:nth-child(even) {
    margin-left: 2px;
}
.Hexagon {
    width: 100px;
    height: 110px;
    margin: 2px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%,
    0% 75%, 0% 25%);
    animation: animation 4s linear infinite;
    transition: 01s;
}
.Hexagon:hover {
    background-color: #0f0;
    transition: 0s;
}
@keyframes animation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.Hexagon::after {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%,
    0% 75%, 0% 25%);
}
.Hexagon::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 2;
}
